@font-face {
    font-family: 'Gotham Book';
    src: url('../font/GothamBook.eot');
    src: url('../font/GothamBook.eot') format('embedded-opentype'),
         url('../font/GothamBook.woff2') format('woff2'),
         url('../font/GothamBook.woff') format('woff'),
         url('../font/GothamBook.ttf') format('truetype'),
         url('../font/GothamBook.svg#GothamBook') format('svg');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../font/GothamBold.eot');
    src: url('../font/GothamBold.eot') format('embedded-opentype'),
         url('../font/GothamBold.woff2') format('woff2'),
         url('../font/GothamBold.woff') format('woff'),
         url('../font/GothamBold.ttf') format('truetype'),
         url('../font/GothamBold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'Kenyan Coffee Bold';
    src: url('../font/kenyancoffeebd.eot');
    src: url('../font/kenyancoffeebd.eot') format('embedded-opentype'),
         url('../font/kenyancoffeebd.woff2') format('woff2'),
         url('../font/kenyancoffeebd.woff') format('woff'),
         url('../font/kenyancoffeebd.ttf') format('truetype'),
         url('../font/kenyancoffeebd.svg#kenyancoffeebd') format('svg');
}
