// Values based in 16px
$font-ultra-large: 4em; //64px
$font-citra-large: 2.25em; //36px
$font-extra-large: 1.75em; //28px
$font-large: 1.5em; //24px
$font-normal: 1.12em; //18px
$font-small: 1em; //16px
$font-extra-small: 0.87em; //14px


$size-ultra-large: 1.5em; //24px
$size-extra-large: 1.25em; //20px
$size-large: 1.12em; //18px
$size-medium: 1em; //16px
$size-normal: 0.87em; //14px
$size-small: 0.75em; //12px
$size-extra-small: 0.62em; //10px
